<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Systaurant</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center pt-5">Admin Promotion</h1>
          <div class="text-center">
            <a href="/" class="btn btn-link">Home</a>
            <a href="/admin/menu" class="btn btn-link">Menu</a>
            <a href="/admin/sale" class="btn btn-link">Sale</a>
            <a href="/admin/promo" class="btn btn-link">Promotion</a>
          </div>
          <table class="table table-striped table-hover mt-3">
            <thead>
              <tr>
              	<th>#</th>
              	<th>Start Date</th>
              	<th>Expire Date</th>
                <th>Criteria</th>
                <th class="text-right">Discount</th>
                <th class="text-center">Option</th>
              </tr>
            </thead>
            <tbody id="promo-list"></tbody>
            <tfoot>
            	<form id="promo_form">
            	<td></td>
            	<td><input type="date" id="promo_start_date" class="form-control" value="" required><input type="time" id="promo_start_time" class="form-control" value="00:00" required> </td>
            	<td><input type="date" id="promo_end_date" class="form-control" value="" required><input type="time" id="promo_end_time" class="form-control" value="23:59" required> </td>
            	<td><textarea id="promo_criteria" class="form-control"></textarea></td>
            	<td class="text-right"><input id="promo_discount" placeholder="discount" style="text-align: right;" value="" required></td>
            	<td class="text-center">
            		<button type="submit" class="btn btn-success">
            			+ Create
            		</button>
            	</td>
            	</form>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script type="text/javascript">
	  function setDateTime(date_id, time_id, data) {
	  	  const d = data.split("T")[0];
	  	  const t = data.split("T")[1].split(":")[0] + ":" + data.split("T")[1].split(":")[1];

	  	  $("#" + date_id).val(d);
	  	  $("#" + time_id).val(t);
	  }
      const getPromo = () => {
      	$("#promo-list").text("");
        axios
          .post('/api/admin/promo/read')
          .then(res => {
            const promo = res.data.promo;
            promo.forEach(e => {
              const row = `<tr>
              	  <td>${e.promo_ID}</td>
              	  <td><input id="promo_start_date${e.promo_ID}" type="date" class="form-control"><input id="promo_start_time${e.promo_ID}" type="time" class="form-control"></td>
              	  <td><input id="promo_end_date${e.promo_ID}" type="date" class="form-control"><input id="promo_end_time${e.promo_ID}" type="time" class="form-control"></td>
				  <td><textarea id="promo_criteria${e.promo_ID}" class="form-control">${e.criteria}</textarea></td>
              	  <td class='text-right'><input id="promo_discount${e.promo_ID}" class="form-control" value="${e.discount_percent}" style="text-align: right;"></td>
                  <td class='text-center'>
                  <button id='promo_update${e.promo_ID}' class='btn btn-primary' onclick='promo_update(${e.promo_ID});'>Update</button>
                  <button id='promo_delete${e.promo_ID}' class='btn btn-danger' onclick='promo_delete(${e.promo_ID});'>Delete</button>
                  </td>
              </tr>`;
              $('#promo-list').append(row);

              setDateTime("promo_start_date" + e.promo_ID, "promo_start_time" + e.promo_ID, e.pro_start_date);
              setDateTime("promo_end_date" + e.promo_ID, "promo_end_time" + e.promo_ID, e.pro_expire_date);
            });
          })
          .catch(res => {
            console.log(res);
          });
      };

      function promo_update(id) {

	  	  const start_date = $("#promo_start_date" + id).val() + " " + $("#promo_end_time" + id).val();
	  	  const end_date = $("#promo_end_date" + id).val() + " " + $("#promo_end_time" + id).val();
		  const criteria = $("#promo_criteria" + id).val();
		  const discount = $("#promo_discount" + id).val();

		  if (confirm("Update promo #" + id)) {
		  	  axios
		  	  	  .post('/api/admin/promo/update', {
		  	  	  	  promo_ID: id,
		  	  	  	  pro_start_date: start_date,
		  	  	  	  pro_expire_date: end_date,
		  	  	  	  criteria: criteria,
		  	  	  	  discount_percent: discount,
		  	  	  })
		  	  	  .then(res => {
					  console.log(res);
					  $("#promo_update" + id).addClass("disabled");
		  	  	  }).catch(res => {
		  	  	  	  console.log(res);
		  	  	  });
		  }

      }

      function promo_delete(id) {

		  if (confirm("Delete promo #" + id)) {
		  	  axios
		  	  	  .post('/api/admin/promo/delete', {
		  	  	  	  promo_ID: id,
		  	  	  })
		  	  	  .then(res => {
					  console.log(res);
					  $("#promo_delete" + id).addClass("disabled");
		  	  	  }).catch(res => {
		  	  	  	  console.log(res);
		  	  	  });
		  }

      }

	  $("#promo_form").submit(function (e) {
		  
          e.preventDefault();

	  	  const start_date = $("#promo_start_date").val() + " " + $("#promo_end_time").val();
	  	  const end_date = $("#promo_end_date").val() + " " + $("#promo_end_time").val();
		  const criteria = $("#promo_criteria").val();
		  const discount = $("#promo_discount").val();

		  if (confirm("Create a new promotion?")) {
		  	  axios
		  	  	  .post('/api/admin/promo/create', {
		  	  	  	  pro_start_date: start_date,
		  	  	  	  pro_expire_date: end_date,
		  	  	  	  criteria: criteria,
		  	  	  	  discount_percent: discount,
		  	  	  })
		  	  	  .then(res => {
					  console.log(res);
		  	  	  	  alert("Done");
		  	  	  	  location.reload();
		  	  	  }).catch(res => {
					  console.log(res.response.data.message);
		  	  	  	  console.log(res);
		  	  	  });
		  }
	  });

      $(document).ready(function() {
        getPromo();
      });
    </script>
  </body>
</html>
