<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Systaurant</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center pt-5">Admin Page</h1>
          <div class="text-center">
            <a href="/" class="btn btn-link">Home</a>
            <a href="/admin/menu" class="btn btn-link">Menu</a>
            <a href="/admin/sale" class="btn btn-link">Sale</a>
            <a href="/admin/promo" class="btn btn-link">Promotion</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
