<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Systaurant</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center pt-5">Systaurant</h1>
                <div class="text-center">
                    <a href="/login" class="btn btn-link">Login</a>
                    <a href="/Menu" class="btn btn-link">Menu</a>
                    <a href="/Order" class="btn btn-link">Order</a>
                    <a href="/Reserve" class="btn btn-link">Reserve</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <script src="../js/bootstrap.min.js"></script>
    <script src=""></script>
  </body>
</html>
