<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Systaurant</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                	<form id="login_table">
                    <h1 class="text-center pt-5">Table Login</h1>
                    <div class="text-center">
                        <a href="/" class="btn btn-link">Home</a>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="table">Table: </label>
                            <input
                                class="form-control"
                                type="text"
                                id="table"
                            />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col text-center">
                            <button class="btn btn-primary" type="submit">
                                Login
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
          </div>
          <div class="col"></div>
        </div>
    </body>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script type="text/javascript">
      $('#login_table').submit(function(e) {
        e.preventDefault();
        axios
          .post('/api/login/table', {
            api: $('#table').val(),
          })
          .then(res => {
            console.log(res.data.message);
            alert(res.data.message);
          })
          .catch(res => {
            console.log(res.message);
            alert('Login table failed.');
          });
      });
    </script>
</html>
