<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Systaurant</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div id="navbar"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center pt-5 pb-5">Menu</h1>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="text-right">Price (THB)</th>
                                <th class="text-center">Option</th>
                            </tr>
                        </thead>
                        <tbody id="menu-list"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/navbar.js"></script>
        <script type="text/javascript">
            const getMenu = () => {
                $("#menu-list").text("");
                axios
                    .post('/api/menu')
                    .then(res => {
                        const menu = res.data.menu;
                        menu.forEach(e => {
                            const row = `<tr>
                                <td>${e.menu_ID}</td>
                                <td>${e.menu_name}</td>
                                <td>${e.menu_description}</td>
                                <td class='text-right'>${e.price}</td>
                                <td class='text-center'>
                                <button type='button' class='btn btn-primary' onclick='order(${e.menu_ID});'>Order</button>
                                </td>
                                </tr>`;
                            $('#menu-list').append(row);
                        });
                    })
                    .catch(res => {
                        console.log(res);
                    });
            };

function order(id) {
    if (confirm("Order menu #" + id)) {
        axios
            .post('/api/order/create', {
                menu_ID: id,
            })
            .then(res => {
                alert("Done");
                console.log(res);
            }).catch(res => {
                console.log(res);
            });
    }
}

$(document).ready(function() {
    getMenu();
});
        </script>
    </body>
</html>
