<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" id="index">Systaurant</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id='menu'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='reserve'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='order'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='receipt'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='cooking'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='waiting'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='admin'></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id='seat'></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='login'></a>
            </li>
        </ul>
    </div>
</nav>