<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Systaurant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center pt-5"> Waiting List </h1>
          <h5 class="text-center pb-5"> List of finished food waiting to be served</h2>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
              	<th>#</th>
                <th>Table</th>
                <th>Menu</th>
                <th class="text-center">Option</th>
              </tr>
            </thead>
            <tbody id="yours-list">
            </tbody>
            <tbody>
              <tr style="background-color: white;"> <td colspan="4"> <hr> </td> </tr>
            </tbody>
            <tbody id="untaken-list">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/axios.min.js"></script>
	  <script src="/js/navbar.js"></script>
    <script type="text/javascript">
      const getOrder = () => {
      	$("#list").text("");
        axios
          .post('/api/order/waitlist')
          .then(res => {

            const list    = res.data.list;

            list.forEach(e => {
              const row = `<tr>
              	  <td>${e.order_ID}</td>
              	  <td>${e.table_ID}</td>
              	  <td>${e.menu_name}</td>
                  <td class='text-center'>
                  <button id='receive${e.order_ID}' type='button' class='btn btn-success' onclick='receive(${e.order_ID});'> Done </button>
                  </td>
              </tr>`;
              $('#yours-list').append(row);
            });

          })
          .catch(res => {
            console.log(res);
          });
      };

	  function receive(id) {

	  	  if (confirm("Already served the order #" + id + "?")) {
		  	  axios
		  	  	  .post('/api/order/receive', {
		  	  	  	  order_ID: id,
		  	  	  })
		  	  	  .then(res => {
		  	  	  	  $("#receive"+id).addClass("disabled");
				  	  console.log(res);
		  	  	  }).catch(res => {
		  	  	  	  console.log(res);
		  	  	  });
		  }
	  }

      $(document).ready(function() {
        getOrder();
      });

    </script>
  </body>
</html>
